@charset 'utf-8';
* {
    padding: 0;
    margin: 0;
}
.all{
	padding-left: 85px;
	width: 1185px;
	overflow: hidden;
}
#cemian1{
	position: fixed;
	right: -80px;
	top: 110px;
	height: 60px;
	width: 120px;
	padding-top: 58px;
	padding-left: 2px;
	background: url(../img/consult-s.png) no-repeat ;
}
#cemian2{
	position: fixed;
	right: -80px;
	top: 220px;
	height: 140px;
	width: 120px;
	background-color: #fd9a6e;
}
#cemian3{
	position: fixed;
	right: -80px;
	top:365px;
	height: 140px;
	width: 120px;
	background-color: #fd9a6e;
}
#cemian4{
	position: fixed;
	right: -80px;
	top:510px;
	height: 140px;
	width: 120px;
}
.clearfix:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
}
.cover{
	height: 168px;
	width: 1185px;
	padding-top: 10px;
	background-color: white;
}
.cover p{
	width: 90px;
}
.cover ul{
	list-style: none;
	text-align: left;
	display: inline; 
}
.cover ul,li{
	float: left;
	margin-right: 20px;
	list-style-type: none
}
.cover a{
	text-decoration: none;
	color: #9a9791;
	font-size: 12px;
}
.sousuo{
	float: left;
	color: #b9b9ba;
	width: 503px;
	height: 40px;
	border:2px solid #fe6c00;
	border-radius: 4px;
	position: relative;
	margin-top: 45px;
	margin-left: 106px;
}
.submit{
	background-color: #fe6c00;
    color: #fff;
    font-size: 16px;
    border: 0 solid #fe6c00;
    width: 82px;
    height: 44px;
    border-radius: 4px;
    position: absolute;
    left: 588px;
    margin-top: 68px;
	margin-left: 246px;
}
.inf{
	float: left;
	width: 270px;
	height: 40px;
	margin-left: 160px;
	margin-top: 45px;

}
.inf div{
	float: left;
	width: 88px;
	height: 40px;
	text-align: center;
	border:1px solid #e6e5e2;
}
.inf p{
	font-size: 12px;
	color: #9a9791;
}
.cov{
	height: 16px;
	margin-left: 250px;
}
.cov ul{
	list-style: none;
	text-align: left;
	display: inline;
	padding: 0;
}
.cov li{
	height: 12px;
	list-style-type: none;
	margin-left: 0;
	margin-right: 0;
}
.cov a{
	text-decoration: none;
	color: #9a9791;
	font-size: 12px;
	padding: 0 8px 0 8px ;
	border-right: 1px solid #ebe7e7;
}
.cen{
	width: 1200px;
	height: 51px;
	border-bottom: 1px solid #ff4d04;
}
.cen1{
	float: left;
	width: 168px;
	height: 40px;
	background-color: #ff4d04;
	text-align: center;
	padding-top: 12px;
}
.cen2{
	float: left;
	margin-top: 12px;
}
.cen2 li{
	font-size: 15px;
	margin-left: 40px;
}
.cen2 a{
	text-decoration: none;
	color: black;
}
.cent{
	float: left;
	width: 170px;
	height: 440px;
	border-bottom: 1px solid #ff4d04;
}
.cent1{
	float: left;
	width: 24px;
	height: 419px;
	background-color: #4c4c4a;
	text-align: center;
	padding-top: 23px;
}
.cent1 p{
	color: #ff4d4b;
	font-size: 15px;
	line-height: 30px;
}
.cent2{
	width: 145px;
	height: 430px;
	margin-left: 30px;

}
.cent2 td{
	font-size: 12px;
	padding: 8px 3px 8px 3px;
}
.cent3{
	margin-top: 15px;
	width: 170px;
	height: 125px;
	padding-left: 7px;
}
.cent3 p{
	color: #855d38;
	font-size: 12px;
	margin-bottom: 13px;
}

/*轮播图*/
.nav ul,li{
	list-style: none;
}
.box{
	float: left;
	width: 800px;
	height: 360px;
	border-bottom: 1px solid #fe6c00;
	margin: 100px auto;
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.slider{
	width: 4800px;
	position: absolute;
	left: -800px;
}
.slide{
	width: 800px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	 /*display: none; */
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #efeeec;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
	text-align: center;
}
.nav .active{
	background: #fe6c00;
}
.notice{
	float: left;
	width: 208px;
	height: 350px;
	padding-top: 12px;
	border-bottom: 1px solid #ebeae7;
}
.n1{
	width: 208px;
	height: 30px;
	border-bottom: 1px solid #ebeae7;
	margin-bottom: 5px;
}
.notice ul li{
	color: #ff4d04;
	font-size: 13px;
	margin-bottom: 11px;
	margin-left: 20px;
}
.bottom{
	width: 1185px;
	height: 180px;
	margin-top: 20px;
}
.bottom ul{
	width: 100px;
	height: 125px;
	float: left;
	margin-left: 40px;
}
.bottom a{
	text-decoration: none;
	color: #666560;
	font-size: 12px;
}
.bottom li{
	margin-bottom: 8px;
}
.botnav{
	width: 1185px;
	margin-top: 10px;
}
.botnav ul{
	margin-left: 220px;
	width: 1185px;
	height: 30px;
}
.botnav a{
	text-decoration: none;
	font-size: 12px;
	color: #666560;
}
.botnav a{
	height: 11px;
	border-left: 1px solid #d0cdc7;
	padding-left: 16px;
}